# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Coverage
lcov.info
report/

# Crytic
crytic-export/
medusa-corpus*
echidna-corpus*
slither_results.json

# VSCode
.vscode

# Npm
node_modules

# Env
.env*
.gitnexus
